/*====================== Google fonts ========================*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

/*====================== Basic css ========================*/
html {
  font-size: 62.5%;
}

:root {
  scroll-behavior: unset;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* body */
body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333b55;
}

main {
  background-color: #f7fafa;
}

/*====================== Header area start ========================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1024;
  width: 100%;
  padding: 2rem 0;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  /* background: -webkit-gradient(linear, left bottom, left top, color-stop(24%, #faffa9), to(#fff));
	background: -o-linear-gradient(bottom, #faffa9 24%, #fff 100%);
	background: linear-gradient(360deg, #faffa9 24%, #fff 100%); */
  background-color: #196e7a;
}

/*sticky*/
header.sticky {
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.1);
}

/* menu */
#menu {
  text-align: left;
}

#menu li {
  display: inline-block;
  color: #fff;
  margin-right: 5rem;
}

#menu li:last-child {
  margin-right: 0;
}

#menu li a {
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

#menu > li > a.active,
#menu > li > a:hover {
  color: #9e6919;
}

/*Hamburger menu*/
.hamburger-menu {
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 999;
}

.hamburger-menu span {
  background: #847631;
  width: 3rem;
  height: 0.3rem;
  display: block;
  margin: 0.5rem 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hamburger-menu:hover .line-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hamburger-menu:hover .line-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hamburger-menu .line-top.current {
  -webkit-transform: translateY(200%) rotate(135deg);
  -ms-transform: translateY(200%) rotate(135deg);
  transform: translateY(200%) rotate(135deg);
}

.hamburger-menu .line-center.current {
  opacity: 0;
}

.hamburger-menu .line-bottom.current {
  -webkit-transform: translateY(-325%) rotate(-135deg);
  -ms-transform: translateY(-325%) rotate(-135deg);
  transform: translateY(-325%) rotate(-135deg);
}

/*ofcanvas menu*/
.ofcavas-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  top: 0;
  display: none;
  left: -100%;
  transition: 0.3s;
}

.ofcavas-menu.current {
  left: 0;
}

.ofcavas-menu ul {
  margin-top: 10rem;
}

.ofcavas-menu li {
  padding: 0.8rem 0;
}

.ofcavas-menu a {
  color: #5f490c;
}

/*========== Page loader CSS ==========*/

#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader3 {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  padding: 0;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: #f33737;
  -webkit-animation: loader3 1.5s linear infinite;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  0% {
    transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*========== return-to-top ==========*/

.back-to-top {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  border-radius: 50%;
  background: #f2da55;
  z-index: 1000;
}
/* ragester btn */
.register-btn {
  color: #10eafa;
  border: 1px solid #10eafa;
}
.register-btn:hover {
  background-color: #07b1bc;
}
.login-btn {
  background-color: #07b1bc;
  color: white;
}
.login-btn:hover {
  color: #11e5f5;
}
/*  */
.absolute-icon {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
/* hero aria */
.hero_area {
  padding-top: 150px;
}

.banner-info h2 {
  font-size: 47.5px;
  font-weight: 700;
}
.banner-info h2 span {
  color: #07b1bc;
}
.banner-info button {
  margin-top: 60px;
  font-size: 15px;
  font-weight: 700;
  background-color: #196e7a;
  color: white;
}
.banner-net {
  background-color: #f8ebd8;
  border-radius: 50px;
}
.banner-net-info h5 {
  padding-top: 68px;
  font-size: 14px;
  color: #fc712b;
  font-weight: 400;
  text-align: center;
}
.banner-net-info p {
  padding-top: 35px;
  text-align: center;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7c2a00;
}
.banner-net-info-btn {
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.banner-net-info-btn button {
  font-size: 14.5px;
  color: white;
  padding: 10px 25px;
}
.banner-net-info-btn .browse-btn {
  color: #fc712b;
  border: solid 1px #fc712b;
}
.banner-net-info-btn .join-btn {
  margin-right: 10px;
  color: white;
  background-color: #fc712b;
  border: solid 1px #fc712b;
}
/* platform */
.platform-heading {
  margin-top: 150px;
  color: #2b8180;
}
.platform-heading p {
  font-size: 14px;
  color: #2b8180;
}
.platform-heading h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 50px;
}
.platform-img {
  padding-top: 45px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.platform-info h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 40px;
  color: #2b8180;
}
.platform-btn button {
  margin-top: 70px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 150px;
}

/* common button  css start*/

.common-btn {
  background-color: #196e7a;
  color: white;
}
.common-btn-2 {
  border: 1px solid #196e7a;
}
.common-btn-2:hover {
  background-color: #196e7a;
  color: white;
}

/* common button  css start*/

/* content part css */

.content {
  background: url(../img/global_big_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-up {
  padding: 150px;
}

.content-info h6 {
  text-align: center;
  font-size: 14px;
  color: #fc712b;
}
.content-info h5 {
  padding-top: 35px;
  text-align: center;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7c2a00;
}
.content-info p {
  font-size: 16px;
  text-align: center;
  color: #9f988f;
}
.content-btn {
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
/* maximum part css */
.maximum-main {
  margin-top: 70px;
}
.maximum-info {
  padding: 20px;
}
.maximum-info p small {
  font-size: 14px;
  color: #2b8180;
}
.maximum-info h3 {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}
.maximum-info li {
  padding-top: 15px;
  padding-bottom: 10px;
}
.maximum-btn button {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 150px;
}

/* leadership css part start */
.leadership {
  background-color: #ffefdd;
  padding: 50px 70px;
  border-radius: 20px;
}
.leadership-heading p small {
  font-size: 14px;
  font-weight: 400;
  color: #2b8180;
}
.leader-info h2 {
  margin-top: 26px;
  margin-bottom: 36px;
  font-size: 40px;
  font-weight: 700;
}
.leader-info button {
  color: white;
  padding: 5px 25px;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 14px;
  background-color: #fd9319;
}
.leader-info-dwn h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}
.leader-info-dwn p span i {
  padding-left: 13px;
}
.leader-hr-line {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid gainsboro;
}
.leader-comment h3 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}
.leader-comment h3 span {
  color: gray;
}
.leader-main-2 {
  background: url(../img/insght2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.leader-info-dwn-2 h5 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
}
.leader-info-dwn-2 button {
  padding: 5px 25px;
  font-size: 14px;
  color: white;
  background-color: #fd9319;
}
/* footer part css */
.footer-img {
  margin-top: 90px;
  margin-bottom: 50px;
}

.footer-menu ul li a {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.footer-icon-main {
  padding-top: 43px;
  padding-bottom: 50px;
}
.footer-icon-main ul .footer-icon {
  background-color: #2b8180;
  padding: 7px 14px;
  border: 1px solid #46e6e4;
  border-radius: 50%;
  transition: all linear 0.3s;
}
.footer-icon-main ul .footer-icon:hover {
  background-color: #12f6f3;
  padding: 7px 14px;
  border: 1px solid gray;
  border-radius: 50%;
  transition: all linear 0.3s;
}
.footer-icon-main ul li a {
  color: white;
  transition: all linear 0.3s;
}
.footer-icon-main ul li a:hover {
  color: #196e7a;
  transition: all linear 0.3s;
}
.footer-down {
  background-color: #2b8180;
  padding: 15px;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-item ul li {
  font-size: 13px;
}
